<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if policy(@sample).admin_only? %>
   <div class="form-group">
    <%= f.label :line %>
    <%= f.text_field :line, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :season %>
    <%= f.text_field :season, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :style %>
    <%= f.text_field :style, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :color %>
    <%= f.text_field :color, class: "form-control" %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :to_who, "Borrowed By" %>
    <%= f.text_field :to_who, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
    <% @inouts.each do |inout| %>
      <div class="checkbox">
        <%= check_box_tag "sample[inout_ids][]", in_out.id %>
        <%= label_tag(inout.status) %>
      </div>
    <% end %> 
  </div>
  <div class="form-group">
    <%= f.submit "Check In | Out", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
