
	
	  <% samples.each do |sample| %>
			  
			     	<div class="row top">
				   		
				   		<div class="col-md-1">
			       		   <strong>Line</strong>
			       		</div>
			       		<div class="col-md-1">
			       		   <strong>Season</strong>
			       		</div>
			       		<div class="col-md-2">
			       		   <strong>Style</strong>
			       		</div>
			       		<div class="col-md-2">
			       		   <strong>Color</strong>
			       		</div>
			       		<div class="col-md-2">
			       		   <strong>Date Out</strong>
			       		</div>
			       		<div class="col-md-2">
			       		   <strong>To Who</strong>
			       		</div>
			       		<div class="col-md-2">
			       		   <strong>Date In</strong>
			       		</div>

			       		<div class="col-md-2">
			       		   <strong>Location</strong>
			       		</div>
			       	</div><!-- Top Row-->
			       	<div class="row">	

			       		
			       		<div class="col-md-1">
			       		  <%= sample.line %>
			       		</div>
			    
			       		<div class="col-md-1">
			       			<%= sample.season %>
			       		</div>
			       		<div class="col-md-2">
			       			<%= sample.style %>
			       		</div>
			  
			       		<div class="col-md-2">
			       			<%= sample.color%>
			       		</div>

			       		<div class="col-md-2">
			       			<%= sample.date_out %>
			       		</div>
			       
			       		<div class="col-md-2">
			       			<%= sample.to_who %>
			       		</div>

			       		<div class="col-md-2">
			       			<%= sample.date_in %>
			       		</div>
			       		<div class="col-md-2">
			       			<%= sample.location %>
			       		</div>
			       		
			      
			       		

			      		<div class="col-md-2">
				       	 <%= link_to 'View', sample,  class: "btn btn-lg btn-default" %> 

				         <%= link_to 'Edit', edit_sample_path(sample), class: "btn btn-lg btn-default"  %>
				          <%= link_to 'Delete', sample, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-default" %>
			     		 
			        
			  <% end %>
			  




